body {
  background-color: #292929;
  margin: 30px;
}

main {
  text-align: center;
}

canvas {
  border: 15px solid #1e1e1e;
  border-radius: 15px;
}

#emulator-controls {
  margin-top: 20px;
}

#emulator-controls button {
  background-color: #1e1e1e;
  font-size: 24px;
  border: solid 1px grey;
  color: grey;
  border-radius: 5px;
  margin: 0 5px;
}